@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
}
main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 580px;
    display: flex;
}
.card {
    padding: 30px;
    height: 270px;
}
.card:nth-child(1) {
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0 0 10px;
}
.card:nth-child(2) {
    background-color: hsl(184, 100%, 22%);
}
.card:nth-child(3) {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0;
}
.cardImg {
    width: 40px
}
.cardTitle {
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: hsl(0, 0%, 95%);
}
.cardInfo {
    font-size: 0.6rem;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 16px;
    width: 140px;
}
.cardBtn {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.6rem;
    margin-top: 32px;
    border: none;
    padding: 10px;
    width: 90px;
    border-radius: 16px;
    cursor: pointer;
}
.cardBtn:hover {
    background-color: transparent;
    border: 1px solid hsla(0, 0%, 100%, 0.75);
    color: hsla(0, 0%, 100%, 0.75);
}
.sedanBtn {
    color: hsl(31, 77%, 52%);
}
.suvBtn {
    color: hsl(184, 100%, 22%);
}
.luxuryBtn {
    color: hsl(179, 100%, 13%);
}